::selection {
background-color: transparent;
}

::-moz-selection {
background-color: transparent;
}

* {
-webkit-user-select: none;
-moz-user-select: -moz-none;
-ms-user-select: none; 
-webkit-tap-highlight-color: transparent;
font-family: DROID_MJRegular;
user-select: none;
}

@font-face {
font-family: DROID_MJAlternatesMedium;
src: url("DROID_MJAlternatesMedium.ttf")
}

@font-face {
font-family: DROID_MJRegular;
src: url("DROID_MJRegular.ttf")
}

@font-face {
font-family: DROID_MJMedium;
src: url("DROID_MJMedium.ttf")
}


body {
background-image: url("file:///storage/928A-1714/.DROID_MJ/HTML%20Template%20Project/New%20Year%20Countdown%202019%20v2/p78.jpg");
background-repeat: no-repeat;
background-size: 100%;
backface-visibility:visible;
}

.off {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 2px;
left: 10%;
right: 10%;
top: 40%;
}


.on {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 2px;
left: 10%;
right: 10%;
top: 50%;
}

.off1 {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 2px;
left: 10%;
right: 10%;
top: 75%;
}

.off2 {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 35%;
left: 10%;
width: 2px;
top: 40%;
}

.off3 {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 35%;
right: 10%;
width: 2px;
top: 40%;
}

.on1 {
position: absolute;
color: transparent;
background-color: #212121;
height: 50%;
left: 5%;
right: 5%;
top: 33%;
filter: opacity(0.7);
border-radius: 30px;
}

.mid {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 35%;
left: 36%;
width: 2px;
top: 40%;
}

.mid1 {
position: absolute;
color: transparent;
background-color: #ffffff;
height: 35%;
right: 36%;
width: 2px;
top: 40%;
}

.days {
position: absolute;
color: #ffffff;
font-family: MontserratMedium;
background-color: transparent;
top: 25%;
font-size: 18px;
font-weight: 600;
left: 10%;
text-transform: uppercase;
}

#days {
position: absolute; 
font-size: 60px;
top: 21%;
font-weight: 600;
left: 28%;
color: #ffffff;
background-color: transparent;
font-family: MontserratAlternatesMedium;
}

.hours {
position: absolute;
font-family: MontserratMedium;
background-color: transparent;
color: #ffffff;
font-size: 18px;
font-weight: 600;
top: 43.5%;
left: 15%;
text-transform: uppercase;
}

#hours {
position: absolute;
font-size: 60px;
top: 56%;
font-weight: 600;
left: 15%;
color: #ffffff;
background-color: transparent;
font-family: MontserratAlternatesMedium;
}

.minutes {
position: absolute;
font-family: MontserratMedium;
background-color: transparent;
color: #ffffff;
font-size: 18px;
font-weight: 600;
top: 43.5%;
right: 40%;
text-transform: uppercase;
}

#minutes {
position: absolute;
font-size: 60px;
top: 56%;
font-weight: 600;
left: 43%;
color: #ffffff;
background-color: transparent;
font-family: MontserratAlternatesMedium;
}

.seconds {
position: absolute;
font-family: MontserratMedium;
background-color: transparent;
color: #ffffff;
font-size: 18px;
font-weight: 600;
top: 43.5%;
right: 12.5%;
text-transform: uppercase;
}

#seconds {
position: absolute;
font-size: 60px;
top: 56%;
font-weight: 600;
right: 15%;
color: #ffffff;
background-color: transparent;
font-family: MontserratAlternatesMedium;
}

.lo {
position: absolute;
left: 5%;
font-family: MontserratAlternatesMedium;
font-size: 30px;
top: 5%;
color: #ffffff;
background-color: transparent;
}

@keyframes ld {
0%{
margin-left: 0px;
}
10%{
margin-left: 41px;
}
20%{
margin-left: 0px;
}
30%{
margin-left: 164px;
}
40%{
margin-left: 328px;
}
50%{
margin-left: 164px;
}
60%{
margin-left: 0px;
}
70%{
margin-left: 200px;
}
80%{
margin-left: 328px;
}
90%{
margin-left: 0px;
}
100%{
margin-left: 480px;
}
}

.lo2 {
position: absolute;
left: 0%;
top: 0%;
color: #ffffff;
height: 3px;
right: 0%;
background-color: #F44336;
animation:ld 5s linear infinite;
animation-play-state: paused;
}

.subt {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: #212121;
font-size: 30px;
font-weight: 600;
text-align: center;
padding-top: 20%;
color: #ffffff;
}